body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.button {
    padding: 15px 30px;
    margin: 10px;
    color: white;
    background-color:grey;
    transition: transform 0.3s, background-color 0.3s;
}

.button:hover {
    transform: scale(1.1);
}
